<div>
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2> Bienvenido !!!</h2> <h2> </h2>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="notification success closeable margin-bottom-30 ">
                <p> <strong>Estos son los datos de pupi</strong>!</p>    					                    <!-- <a class="close" href="#"></a>-->
            </div>

        </div>

    </div>

    <div class="row">
        <!-- Item -->
        <div class="col-lg-3 col-md-6">
            <div class="dashboard-stat color-1">
                <div class="dashboard-stat-content" style="font-size: 40px;">0<br><span>Reservas</span></div>
                <div class="dashboard-stat-icon"><i class="im im-icon-Cursor-Click2"></i></div>
            </div>
        </div>

        <!-- Item -->

        <div  class="col-lg-3 col-md-6">
            <div class="dashboard-stat color-2">
                <div class="dashboard-stat-content" style="font-size: 40px;">0 <br><span>Denuncias</span></div>
                <div class="dashboard-stat-icon"><i class="im im-icon-Line-Chart"></i></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="dashboard-stat color-4">
                <div class="dashboard-stat-content"><h4>0</h4> <span>Solicitudes</span></div>
                <div class="dashboard-stat-icon"><i class="im im-icon-Heart"></i></div>
            </div>
        </div>




        <!-- Item -->
        <div class="col-lg-3 col-md-6">
            <div class="dashboard-stat color-3">
                <div class="dashboard-stat-content" style="font-size: 40px;">0<br> <span> calificaciones</span></div>
                <div class="dashboard-stat-icon"><i class="im im-icon-Add-UserStar"></i></div>
            </div>
        </div>

        <!-- Item -->

    </div>



    <!-- Container / Start -->

    <!-- Row / Start -->
    <div class="row">

        <div class="col-md-12">
            <div class="pricing-container margin-top-30">

                <!-- Plan #1 -->

                <div class="plan">

                    <div class="plan-price">
                        <h3>Perros</h3>
                        <span class="value">2</span>
                        <span class="period"></span>
                    </div>


                </div>

                <div class="plan">

                    <div class="plan-price">
                        <h3>Cuidadores</h3>
                        <span class="value">20</span>
                        <span class="period"></span>
                    </div>


                </div>


                <!-- Plan #3 -->

                <!-- Plan #3 -->
                <div class="plan">

                    <div class="plan-price">
                        <h3>Dinero Actual</h3>
                        <span class="value">$ 59</span>
                        <span class="period"></span>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <!-- Row / End -->


    <div class="row">



            <h4 class="headline margin-top-70 margin-bottom-30">RESERVAS</h4>

            <div class="row">
                //
                <div class="col-lg-3 col-md-6">
                        <input type="text" class="form-control"  placeholder="Filtro">
                </div>
                <!-- Item -->
                <div class="col-lg-3 col-md-6">
                        <select>
                            <option value="volvo" selected>Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                </div>
                <div class="col-lg-3 col-md-6">
                    <input type="date" class="form-control"  placeholder="fecha inicio">
                </div>

                <div class="col-lg-3 col-md-6">
                    <input type="date" class="form-control"  placeholder="fecha fin">
                </div>



                //
        </div>
        <table class="basic-table">

            <tr>
                <th>Cuidador</th>
                <th>Perro</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Precio</th>
            </tr>

            <tr>
                <td>Item</td>
                <td>Description</td>
                <td>Description</td>
                <td>Description</td>
                <td>Description</td>
            </tr>

            <tr>
                <td>Item</td>
                <td>Description</td>
            </tr>

            <tr>
                <td>Item</td>
                <td>Description</td>
            </tr>

            <tr>
                <td>Item</td>
                <td>Description</td>
            </tr>
        </table>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <!-- Pagination -->
                <div class="pagination-container margin-top-20 margin-bottom-40">
                    <nav class="pagination">
                        <ul>
                            <li><a href="#" class="current-page">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Pagination / End -->


</div>










</div>