<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
        <title>Pupi</title>

        <!-- CSS  -->
        <link href="../../css/material-icons.css" rel="stylesheet">
        <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="../../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="../../css/jquery.toast.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="../../css/easy-autocomplete.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../../css/easy-autocomplete.themes.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    </head>

    <body>
        <header>
            <nav class="grey lighten-1" role="navigation">
                <div class="nav-wrapper container">
                    <a id="logo-container" href="../../index.html" class="brand-logo"><img src="../../img/logo.png" style="height: 65px" alt="Pupi" /></a>

                    <ul class="right hide-on-med-and-down">
                        <li><a href="/views/perro/perro.html">Perros</a></li>
                        <li><a href="/views/cuidadores/cuidadores.html">Cuidadores</a></li>
                        <li><a href="/views/vacuna/vacuna.html">Vacunas</a></li>
                        <li><a href="/views/raza/raza.html">Razas</a></li>
                        <li><a href="/views/cuidadores/cuidadores-buscar.html">Buscar Cuidadores</a></li>
                    </ul>

                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="/views/perro/perro.html">Perros</a></li>
                        <li><a href="/views/cuidadores/cuidadores.html">Cuidadores</a></li>
                        <li><a href="/views/vacuna/vacuna.html">Vacunas</a></li>
                        <li><a href="/views/raza/raza.html">Razas</a></li>
                        <li><a href="/views/cuidadores/cuidadores-buscar.html">Buscar Cuidadores</a></li>
                    </ul>

                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="section">

                    <div class="center-align">
                        <h3>Perro CRUD / ABM </h3>
                    </div>
                    <!-- MODELO A SEGUIR http://materializecss.com/collections.html -->
                    <div class="row">
                        <div class="col s12">
                            <ul class="collection" id="perroList">
                                <!--                                <li class="collection-item avatar">
                                                                    <img src="img/dog-1.jpg" alt="" class="circle">
                                                                    <span class="title"> <b>Fatigas</b></span>
                                                                    <div class="row">
                                                                        <div class="col s12 m6">
                                                                            <p> Raza: Callerjero<br>
                                                                            Tamañoanio: S <br>
                                                                                Vacunacion: Rabia <br>
                                                                            </p>
                                                                        </div>
                                                                        <div class="col s12 m6">
                                                                            <p> Comentario: Callerjero<br>
                                                                            </p>
                                                                        </div>
                                
                                                                    </div>
                                                                    <div class="secondary-content">
                                                                        <a href="#!" ><i class="material-icons">delete</i></a>
                                                                        <br>
                                                                        <a href="#!" ><i class="material-icons">edit</i></a>
                                                                    </div>
                                
                                                                </li>-->
                            </ul>
                        </div>
                    </div>


                    <div class="center-align">
                        <a class="waves-effect waves-light btn" onclick="mostarFormNuevoPerro()"><i class="material-icons right">library_add</i> Nuevo Perro</a>
                    </div>

                    <div class="row" id="nuevoPerro">
                        <form class="col s12">
                            <div class="row">

                                <!--                                <div class="file-field input-field">
                                                                    <div class="btn">
                                                                        <span>Imagen</span>
                                                                        <input id="imagen" type="file" onchange="mostrarImagen()">
                                                                    </div>
                                                                    <div class="file-path-wrapper">
                                                                        <input class="file-path validate" type="text" placeholder="Cargue la imagen">
                                                                    </div>
                                                                    <div class="input-field col s12">
                                                                        <img id="muestraImagen" src="" height="200" width="200" alt="Imagen previsualizada">
                                                                    </div>
                                                                </div>-->

                                <div class="input-field col s12">
                                    <input id="nombre" type="text" class="validate" required>
                                    <label for="nombre">Nombre</label>
                                </div>

                                <div class="col s12">
                                    <label for="raza">Raza</label>
                                    <input type="text" id="raza" required>
                                    <a id="idRaza" hidden=""></a>
                                </div>

                                <div class="input-field col s12">
                                    <select id="tamaño" class="validate" required>
                                        <option value="" disabled selected>Seleccione tamaño</option>
                                    </select>
                                    <label for="tamaño">Tamaño</label>
                                </div>

                                <div class="input-field col s12">
                                    <select multiple id="vacuna" class="validate" required>
                                        <option value="" disabled selected>Seleccione vacunas</option>
                                    </select>
                                    <label for="vacuna">Vacunas</label>
                                </div>

                                <div class="input-field col s12">
                                    <textarea id="comentario" class="materialize-textarea"></textarea>
                                    <label for="comentario">Comentario</label>
                                </div>

                                <div class="file-field input-field col s12">
                                    <div id="contenedorImagen" class="input-field col s12">
                                    </div>
                                </div>
                            </div>
                        </form>
                            <!--FORM IMAGEN-->
                        <form id="imageForm" enctype="multipart/form-data">
                            <div class="file-field input-field col s12 m6">
                                <div class="btn">
                                    <span>Selecionar Imagen</span>
                                    <input id="imageFile" name="file" type="file" accept="image/x-png,image/jpg,image/jpeg"/>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="input-field col s12 m6">
                                <a id="imageButton" class="waves-effect waves-light btn center">
                                    <i class="material-icons right">present_to_all</i>
                                    Subir
                                </a>
                            </div>
                        </form>
                        <!--POST PERRO-->
                            <div class="input-field col s12 center">
                                <button id="guardarPerro" onclick="postPerro()" class="btn waves-effect waves-light" type="submit">
                                    Enviar<i class="material-icons right">send</i>
                                </button>
                            </div>

                    </div>

                </div>
            </div>
        </main>
        <footer class="page-footer orange">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>


        <!--  Scripts-->
        <script src="../../js/jquery-2.1.1.min.js"></script>
        <script src="../../js/jquery.toast.min.js"></script>
        <script src="../../js/materialize.js "></script>
        <script src="../../js/jquery.easy-autocomplete.min.js"></script>
        <!--primero init-->
        <script src="../../js/init.js "></script>
        <script src="js/perros.js"></script>

    </body>

</html>
