/*jose*/
.left-side {
    width: 65%;
}

.right-side {
    width: 35%;
}

/*jose*/
.header-widget {
    text-align: right;
    height: auto;
}

.header-widget .sign-in {
    top: 10px;
    display: inline-block;
}

