<!DOCTYPE html>
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Pupi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/colors/main.css" id="colors">

    <!-- MY CSS
    ================================================== -->
    <link rel="stylesheet" href="/views/index/css/index.css">


</head>

<body >

<!-- Wrapper -->
<div id="appVue">


        <!-- Header Container
    ================================================== -->
        <header id="header-container" style="background-color: whitesmoke">

            <!-- Header -->
            <div id="header">
                <div class="container">

                    <!-- Left Side Content -->
                    <div class="left-side">

                        <!-- Logo -->
                        <div id="logo">
                            <a href="/views/index/index.html"><img src="/assets/images/logo.png" alt=""></a>
                        </div>

                        <div class="clearfix"></div>
                        <!-- Main Navigation / End -->

                    </div>
                    <!-- Left Side Content / End -->


                    <!-- Right Side Content / End -->

                       <my-login></my-login>
                    <!-- Right Side Content / End -->
                </div>
            </div>
                <!-- Header / End -->

        </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->


    <!-- Banner /file_upload/8ac40210-e64c-40bb-90c5-9e5ad627c1fe.jpg
    ================================================== -->

        <div class="main-search-container"    data-background-image="/img/perro_fondo_2.jpg">
            <div class="main-search-inner" >
                <div class="container" >
                    <div class="row">
                        <div class="col-md-12">
                            <h2> Tú mascota es nuestra mascota</h2>
                            <h4>Porque tú mejor amigo no merece estar solo en casa</h4>

                            <div class="main-search-input" >


                                <div class="main-search-input-item location">
                                    <input type="text" v-model="location" id="location" placeholder="Ciudad"/>
                                    <a href="#" id="geo-location" v-on:click='geolocate()'>
                                        <i class="fa fa-dot-circle-o"></i></a>
                                </div>

                                <div class="main-search-input-item">
                                    <input type="text" v-model="dateFrom" id="dateFrom"  placeholder="Fecha Desde" data-lang="es"
                                           data-init-set="false"
                                           data-large-mode="true" data-large-default="true" data-min-year="2017"
                                           data-max-year="2020" data-lock="from">
                                </div>
                                <div class="main-search-input-item">
                                    <input type="text" v-model="dateTo" id="dateTo" placeholder="Fecha Hasta" data-lang="es"
                                           data-init-set="false"
                                           data-large-mode="true" data-large-default="true" data-min-year="2017"
                                           data-max-year="2020" data-lock="from">

                                </div>

                                <!--<button class="button" onclick="window.location.href='listings-half-screen-map.html'">-->
                                <!--Buscar-->
                                <!--</button>-->
                                <button class="button" v-on:click='buscar'>
                                    Buscar
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    <!-- Info Section -->
    <div class="container" >
        <div id="spinner"></div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="headline centered margin-top-80">
                    Planea la estadía de sus sueños
                    <span class="margin-top-25"> Explora algunos de los mejores cuidadores del país. Descubre nuevas experiencias y haz a tu perro feliz </span>
                </h2>
            </div>
        </div>

        <div class="row icons-container">
            <!-- Stage -->
            <div class="col-md-4">
                <div class="icon-box-2 with-line">
                    <i class="im im-icon-Search-People" ></i>
                    <h3>Encuentra el lugar indicado </h3>
                    <p>Mira perfiles y lee las reviews .</p>
                </div>
            </div>

            <!-- Stage -->
            <div class="col-md-4">
                <div class="icon-box-2 with-line">
                    <i class="im im-icon-Mailbox-Empty"></i>
                    <h3>Contacta con tu cuidador ideal</h3>
                    <p> Envía mensajes y conócelo.</p>
                </div>
            </div>

            <!-- Stage -->
            <div class="col-md-4">
                <div class="icon-box-2">
                    <i class="im im-icon-Checked-User"></i>
                    <h3>Haz una reserva</h3>
                    <p>De forma fácil y segura. A  un click de distancia</p>
                </div>
            </div>
        </div>

    </div>


        <!-- Fullwidth Section -->
        <section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <h3 class="headline centered margin-bottom-45">
                            Descubre Amigos para tus mejores amigos
                            <span></span>
                        </h3>
                    </div>

                    <div class="col-md-12">
                        <div class="simple-slick-carousel dots-nav">

                            <!-- Listing Item -->
                            <div class="carousel-item">
                                <a href="/views/index/acerca-de-pupi.html" class="listing-item-container">
                                    <div class="listing-item">
                                        <img  src="/img/background11.jpg" alt="">



                                        <div class="listing-item-content">

                                            <h3  class='zoomIt' style="line-height: 200px; margin-left: 120px;" >Conocenos</h3>



                                        </div>
                                        <!--<i class="like-icon"></i>-->
                                    </div>

                                </a>
                            </div>
                            <!-- Listing Item / End -->

                            <!-- Listing Item -->
                            <div class="carousel-item">
                                <a href="/views/index/index.html" class="listing-item-container">
                                    <div class="listing-item">
                                        <img src="/img/background12.jpg" alt="">
                                        <div class="listing-item-details">

                                        </div>
                                        <div class="listing-item-content">

                                            <h3  class='zoomIt' style="line-height: 200px; margin-left: 120px;" >Cuidadores</h3>

                                        </div>

                                    </div>

                                </a>
                            </div>
                            <!-- Listing Item / End -->

                            <!-- Listing Item -->
                            <div class="carousel-item">
                                <a href="/views/index/index.html" class="listing-item-container">
                                    <div class="listing-item">
                                        <img src="/img/background13.jpg" alt="">
                                        <div class="listing-item-details">

                                        </div>
                                        <div class="listing-item-content">

                                            <h3  class='zoomIt' style="line-height: 200px; margin-left: 160px;" >Pupi</h3>

                                        </div>

                                    </div>

                                </a>
                            </div>
                            <!-- Listing Item / End -->

                            <!-- Listing Item -->

                            <!-- Listing Item / End -->


                            <!-- Listing Item / End -->
                        </div>

                    </div>

                </div>
            </div>

        </section>
        <!-- Fullwidth Section / End -->





    <!-- Footer
    ================================================== -->
    <div id="footer" class="margin-top-15">
        <!-- Main -->
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <img class="footer-logo" src="/assets/images/logo.png" alt="">
                    <br><br>
                    <p> Olvidate de la perrera! Pupi es el principal servicio en línea que conecta a los dueños de mascotas con más de 20,000 cuidadores de confianza en toda Argentina, haciendo que tu y tu amigo peludo tengan toda la tranquilidad que merecen.</p>
                </div>

                <div class="col-md-4 col-sm-6 ">
                    <h4>Helpful Links</h4>
                    <ul class="footer-links">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Hazte Cuidador</a></li>
                        <li><a href="#">Mi Cuenta</a></li>
                        <li><a href="#">Terminos y condiciones de uso </a></li>
                    </ul>

                    <div class="clearfix"></div>
                </div>

                <div class="col-md-3  col-sm-12">
                    <h4>Contactanos</h4>
                    <div class="text-widget">
                        <span>12345 evasio garrone</span> <br>
                        Phone: <span>(351) 123-456 </span><br>
                        E-Mail:<span> <a href="#">pupi@gmail.com</a> </span><br>
                    </div>

                    <ul class="social-icons margin-top-20">
                        <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                        <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                        <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
                    </ul>

                </div>

            </div>

            <!-- Copyright -->
            <div class="row">
                <div class="col-md-12">
                    <div class="copyrights">© 2017 pupi. Todos los derechos reservados.</div>
                </div>
            </div>

        </div>

    </div>
    <!-- Footer / End -->



        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>

    </div>

<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script type="text/javascript" src="/assets/scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jpanelmenu.min.js"></script>
<script type="text/javascript" src="/assets/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/assets/scripts/slick.min.js"></script>
<script type="text/javascript" src="/assets/scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="/assets/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="/assets/scripts/counterup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/assets/scripts/custom.js"></script>

<!-- My Scripts
================================================== -->
<!-- Date Picker - docs: http://www.vasterad.com/docs/listeo/#!/date_picker -->
<link href="/assets/css/plugins/datedropper.css" rel="stylesheet" type="text/css">
<script src="/assets/scripts/datedropper.js"></script>
<style>


    #spinner {
        /*http://samherbert.net/svg-loaders/*/
        background-image: url('/img/spinner.svg');
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 999;
        background-position: center;
    }




</style>
<script src="/js/axios.min.js"></script>
<script src="/js/vue.js"></script>
<link rel="stylesheet" href="/css/sweetalert.css"></link>
<script src="/js/sweetalert.min.js"></script>
<!-- Maps -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxRjrAgwzUG6g4thS0f1osXdML4Npc3cQ&libraries=places"></script>
<script type="text/javascript" src="/views/security/js/login.js"></script>
<script type="text/javascript" src="/views/index/js/index.js"></script>



</body>
</html>