<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Pupi</title>

    <!-- CSS  -->
    <link href="../../css/material-icons.css" rel="stylesheet">
    <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../../css/stylePupi.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../../css/jquery.toast.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../../css/easy-autocomplete.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../../css/easy-autocomplete.themes.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../../css/cuidadores.css" rel="stylesheet">
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>

</head>

<body>
<header>
    <nav class="grey lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/index.html" class="brand-logo logo"><img src="/img/vector.svg" style="height: 55px" alt="Pupi" /></a>

            <ul class="right hide-on-med-and-down">
                <li><a href="/views/perro/perro.html">Perros</a></li>
                <li><a href="/views/cuidadores/cuidadores.html">Cuidadores</a></li>
                <li><a href="/views/vacuna/vacuna.html">Vacunas</a></li>
                <li><a href="/views/raza/raza.html">Razas</a></li>
                <li><a href="/views/cuidadores/cuidadores-buscar.html">Buscar Cuidadores</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="/views/perro/perro.html">Perros</a></li>
                <li><a href="/views/cuidadores/cuidadores.html">Cuidadores</a></li>
                <li><a href="/views/vacuna/vacuna.html">Vacunas</a></li>
                <li><a href="/views/raza/raza.html">Razas</a></li>
                <li><a href="/views/cuidadores/cuidadores-buscar.html">Buscar Cuidadores</a></li>
            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="section">


            <div class="center-align">
                <h3>Buscar Cuidadores </h3>
            </div>

            <!--BUSQUEDA-->
            <div class="row" id="nuevaBusqueda">
                <div class="row">
                    <div class="input-field col s12">
                        <select id="busquedaProv" class="validate" onchange="mostrarLocalidades()" required>
                            <option value="" disabled selected>Selecciona provincia</option>
                        </select>
                        <label for="busquedaProv">Provincia</label>
                    </div>

                    <div id="busquedaDiv" class="col s12" hidden="">
                        <label for="busquedaLocal">Localidad</label>
                        <i class="material-icons prefix">room</i>
                        <input type="text" id="busquedaLocal" required>
                        <a id="idLocalidad" hidden=""></a>
                    </div>

                    <div class="input-field col s12 center">
                        <a id="buscarCuidadores" onclick="buscarCuidadores()"
                           class="btn waves-effect waves-light green">
                            Buscar<i class="material-icons right">search</i>
                        </a>
                    </div>
                </div>
            </div>
            <!--ORDENADORES-->
            <div id="buscadores" hidden="">
                <a class="waves-effect waves-light btn" id="ordenarPorCantidad" data-sense="asc">
                    <i class="material-icons left">thumb_down</i> Cantidad
                </a>
            </div>
            <!-- LISTAR CUIDADORES-->
            <div class="row" id="listaCuidadores"></div>
            <!-- MODAL RESERVAR-->
            <div id="modalReserva" class="modal">
                <div class="modal-content">
                    <div class="row" id="nuevaReserva">
                        <form class="col s12">
                            <div class="row">
                                <div class='center-align'>
                                    <h3>Reserva CRUD / ABM </h3>
                                </div>
                                <div class="input-field col s12">
                                    Seleccione fecha de inicio:
                                    <input id="fechaInicio" type="date" class="datepicker validate" required>
                                </div>
                                <div class="input-field col s12">
                                    Seleccione fecha de fin:
                                    <input id="fechaFin" type="date" class="datepicker validate" required>
                                </div>
                                <div class="input-field col s12">
                                    <select id="perro" class="validate" required>
                                        <option value="" disabled selected>Seleccione perro</option>
                                    </select>
                                    <label for="perro">Perro</label>Datos del dueño:
                                </div>
                                <div class="input-field col s12">
                                    <input id="nombreDuenio" type="text" class="validate" required>
                                    <label for="nombreDuenio">Nombre</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="emailDuenio" type="text" class="validate" required>
                                    <label for="emailDuenio">Email</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="telefonoDuenio" type="text" class="validate" required>
                                    <label for="telefonoDuenio">Teléfono</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="dniDuenio" type="text" class="validate" required>
                                    <label for="dniDuenio">DNI</label>
                                </div>
                                <div class="input-field col s12 center">
                                    <button class="btn waves-effect waves-light" type="submit">Enviar<i
                                            class="material-icons right">send</i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- MODAL ELIMINAR-->
            <div id="modalEliminar" class="modal">
                <div class="modal-content">
                    <h4>Alerta!</h4>
                    <p>¿Está seguro que desea eliminar el cuidador?</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" id="cancelarEliminar"
                       class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
                    <a href="#!" id="aceptarEliminar" onclick="eliminarAJAX()"
                       class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
            </div>

        </div>
    </div>

</main>
<!--  Scripts-->
<script src="../../js/jquery-2.1.1.min.js"></script>
<script src="../../js/jquery.toast.min.js"></script>
<script src="../../js/materialize.js "></script>
<script src="../../js/jquery.easy-autocomplete.min.js"></script>
<script src="../../js/init.js "></script>
<script src="js/cuidadores.buscar.js"></script>
<script src="js/cuidadores.buscar.model.js"></script>
<script src="js/cuidadores.buscar.services.js"></script>
<script src="js/cuidadores.buscar.view.js"></script>
</body>

</html>