<!DOCTYPE html>
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Mi descripcion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/colors/main.css" id="colors">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxRjrAgwzUG6g4thS0f1osXdML4Npc3cQ&libraries=places"></script>

</head>

<body xmlns:v-on="http://www.w3.org/1999/xhtml">

<!-- Wrapper -->
<div id="wrapper">
    <div  id="appVue">

    <!-- Header Container
    ================================================== -->
        <header id="header-container" class="fixed fullwidth dashboard">

            <!-- Header -->
            <div id="header" class="not-sticky">
                <div class="container">

                    <!-- Left Side Content -->
                    <div class="left-side">

                        <!-- Logo -->
                        <div id="logo">
                            <a href="/views/index/index.html"><img src="/assets/images/logo.png" alt=""></a>
                            <a href="/views/index/index.html" class="dashboard-logo"><img src="/assets/images/logo2.png" alt=""></a>
                        </div>

                        <!-- Mobile Navigation -->
                        <div class="menu-responsive">
                            <i class="fa fa-reorder menu-trigger"></i>
                        </div>

                        <!-- Main Navigation -->
                        <nav id="navigation" class="style-1">
                            <ul id="responsive">

                                <li><a href="#">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index-2.html">Home 2</a></li>
                                        <li><a href="index-3.html">Home 3</a></li>
                                        <li><a href="index-4.html">Home 4</a></li>
                                    </ul>
                                </li>

                                <li><a href="#">Listings</a>
                                    <ul>
                                        <li><a href="#">List Layout</a>
                                            <ul>
                                                <li><a href="listings-list-with-sidebar.html">With Sidebar</a></li>
                                                <li><a href="listings-list-full-width.html">Full Width</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Grid Layout</a>
                                            <ul>
                                                <li><a href="listings-grid-with-sidebar-1.html">With Sidebar 1</a></li>
                                                <li><a href="listings-grid-with-sidebar-2.html">With Sidebar 2</a></li>
                                                <li><a href="listings-grid-full-width.html">Full Width</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Half Screen Map</a>
                                            <ul>
                                                <li><a href="listings-half-screen-map-list.html">List Layout</a></li>
                                                <li><a href="listings-half-screen-map-grid-1.html">Grid Layout 1</a></li>
                                                <li><a href="listings-half-screen-map-grid-2.html">Grid Layout 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="listings-single-page.html">Single Listing</a></li>
                                    </ul>
                                </li>

                                <li><a class="current" href="#">User Panel</a>
                                    <ul>
                                        <li><a href="dashboard.html">Dashboard</a></li>
                                        <li><a href="dashboard-messages.html">Messages</a></li>
                                        <li><a href="dashboard-my-listings.html">My Listings</a></li>
                                        <li><a href="dashboard-reviews.html">Reviews</a></li>
                                        <li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
                                        <li><a href="dashboard-add-listing.html">Add Listing</a></li>
                                        <li><a href="dashboard-my-profile.html">My Profile</a></li>
                                        <li><a href="dashboard-invoice.html">Invoice</a></li>
                                    </ul>
                                </li>

                                <li><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="pages-blog.html">Blog</a>
                                            <ul>
                                                <li><a href="pages-blog.html">Blog</a></li>
                                                <li><a href="pages-blog-post.html">Blog Post</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="pages-contact.html">Contact</a></li>
                                        <li><a href="pages-elements.html">Elements</a></li>
                                        <li><a href="pages-pricing-tables.html">Pricing Tables</a></li>
                                        <li><a href="pages-typography.html">Typography</a></li>
                                        <li><a href="pages-404.html">404 Page</a></li>
                                        <li><a href="pages-icons.html">Icons</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                        <!-- Main Navigation / End -->

                    </div>
                    <!-- Left Side Content / End -->

                    <!-- Right Side Content / End -->
                    <div class="right-side">
                        <my-login v-on:is-authenticated="isAuthenticatedMethod" ref="mylogin"></my-login>

                    </div>
                    <!-- Right Side Content / End -->

                </div>
            </div>
            <!-- Header / End -->

        </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->


    <!-- Dashboard -->
    <div id="dashboard">

        <!-- Navigation
        ================================================== -->

        <!-- Responsive Navigation Trigger -->
        <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>

        <div class="dashboard-nav">
            <div class="dashboard-nav-inner">

                <ul data-submenu-title="Main">
                    <li><a href="dashboard.html"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
                    <li><a href="dashboard-messages.html"><i class="sl sl-icon-envelope-open"></i> Messages <span class="nav-tag messages">2</span></a></li>
                </ul>

                <ul data-submenu-title="Listings">
                    <li><a><i class="sl sl-icon-layers"></i> My Listings</a>
                        <ul>
                            <li><a href="dashboard-my-listings.html">Active <span class="nav-tag green">6</span></a></li>
                            <li><a href="dashboard-my-listings.html">Pending <span class="nav-tag yellow">1</span></a></li>
                            <li><a href="dashboard-my-listings.html">Expired <span class="nav-tag red">2</span></a></li>
                        </ul>
                    </li>
                    <li><a href="dashboard-reviews.html"><i class="sl sl-icon-star"></i> Reviews</a></li>
                    <li><a href="dashboard-bookmarks.html"><i class="sl sl-icon-heart"></i> Bookmarks</a></li>
                    <li><a href="dashboard-add-listing.html"><i class="sl sl-icon-plus"></i> Add Listing</a></li>
                </ul>

                <ul data-submenu-title="Account">
                    <li class="active"><a href="cuidadores-create.html"><i class="sl sl-icon-user"></i> Mi Descripción</a></li>
                    <li><a href="index.html"><i class="sl sl-icon-power"></i> Logout</a></li>
                </ul>

            </div>
        </div>
        <!-- Navigation / End -->


        <!-- Content
        ================================================== -->
        <div class="dashboard-content">
            <form>
            <!-- Titlebar -->
            <div id="titlebar">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Mi Descripción</h2>
                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li>My Profile</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="row">


                <div class="col-lg-6 col-md-12" >
                    <div class="dashboard-list-box margin-top-0">
                        <h4 class="gray"> Precios </h4>
                        <div class="dashboard-list-box-static">
                            Recuerda que Pupi cobra una comision del 20% del total de la tarifa que estableces en cada servicio.
                            <!-- Change Password -->
                            <div class="my-profile">

                                <label>Mi precio Final </label>
                                <input v-model="precioNeto"  style=" text-align: right" id="precioNeto" type="number">

                                <label>Porcentaje Pupi  </label>
                                <input v-model="porcentaje" id="porcentaje"  style=" text-align: right" type="number" readonly>

                                <label>Mi precio Final </label>
                                <input v-model="precioFinal" id="precioFinal"  style=" text-align: right" value="" type="number">

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="dashboard-list-box margin-top-0">
                        <h4 class="gray"> Descripcion </h4>
                        <div class="dashboard-list-box-static">

                            <label>Tamaño maximo permitido de perro</label>
                            <select id='selector_tamaño' v-model="tamaño" required>
                                <option disabled value="">Seleccionar Cantidad</option>
                                <option  value="1"> Miniatura-0 a 5 kg</option>
                                <option  value="2">Pequeño-5 a 10 kg</option>
                                <option  value="3">Mediano-10 a 25 kg</option>
                                <option value="4">Grande-25 a 45 kg</option>
                                <option value="5">Gigante-45 a 100 kg</option>
                            </select>

                            <label>Cantidad máxima de perros</label>
                            <select id='selector_cantidad' v-model="cantidadMaxDePerros">
                                <option disabled value="">Seleccionar Cantidad</option>
                            </select>


                            <!-- Change Password -->
                            <div class="my-profile">
                                <label class="margin-top-0">Mi descripcion</label>
                                <textarea v-model="descripcion" rows="4" cols="50" maxlength="1000">
                               </textarea>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12" style=" top: 50px;">
                    <div class="dashboard-list-box margin-top-0">
                        <h4 class="gray"> Servicios que ofreces </h4>
                        <div class="dashboard-list-box-static">

                            <!-- Change Password -->
                            <div class="my-profile">
                                <div class="checkboxes in-row margin-bottom-30">
                                    <ul v-for =" servicio in listaServicios" >
                                        <li>
                                            <input :id="servicio.nombre" type="checkbox" name="check">
                                            <label :for="servicio.nombre">{{servicio.nombre}}</label>
                                        </li>

                                    </ul>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- Profile -->
                <div class="col-lg-6 col-md-12" style= "top: 50px;" >
                    <div class="dashboard-list-box margin-top-0">
                        <h4 class="gray"> Mis Fotos  </h4>
                        <div class="dashboard-list-box-static">
                            <form id="imageForm" enctype="multipart/form-data">
                            <!-- Avatar -->
                            <div class="edit-profile-photo">
                                <img :src="imagen1" alt="">
                                <div class="change-photo-btn">
                                    <div class="photoUpload">
                                        <span><i class="fa fa-upload"></i> Subir Foto</span>
                                        <input type="file" id="imageFile1" @change="filesChange($event.target.files)" class="upload" accept="image/x-png,image/jpg,image/jpeg"/>
                                    </div>
                                </div>
                            </div>


                                <div class="edit-profile-photo">
                                    <img :src="imagen2" alt="">
                                    <div class="change-photo-btn">
                                        <div class="photoUpload">
                                            <span><i class="fa fa-upload"></i> Subir Foto</span>
                                            <input type="file" id="imageFile2" @change="filesChange($event.target.files)" class="upload" accept="image/x-png,image/jpg,image/jpeg"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="edit-profile-photo">
                                    <img :src="imagen3" alt="">
                                    <div class="change-photo-btn">
                                        <div class="photoUpload">
                                            <span><i class="fa fa-upload"></i> Subir Foto</span>
                                            <input type="file" id="imageFile3" @change="filesChange($event.target.files)" class="upload" accept="image/x-png,image/jpg,image/jpeg"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="edit-profile-photo">
                                    <img :src="imagen4" alt="">
                                    <div class="change-photo-btn">
                                        <div class="photoUpload">
                                            <span><i class="fa fa-upload"></i> Subir Foto</span>
                                            <input type="file" id="imageFile4" @change="filesChange($event.target.files)" class="upload" accept="image/x-png,image/jpg,image/jpeg"/>
                                        </div>
                                    </div>
                                </div>

                            </form>


                            <!--<button v-on:click='editUserInfo' class="button margin-top-15">Guardar</button>-->

                        </div>
                    </div>
                </div>



                    <br>
                <br>


                <!-- Copyrights -->

            </div>
                <!--<button v-on:click='editCuidador' class="button margin-top-15">Guardar</button>-->

            </form>

        </div>
        <!-- Content / End -->

        <div class="col-md-12">
            <div class="copyrights">© 2017 Pupi. All Rights Reserved.</div>
        </div>

    </div>
    <!-- Dashboard / End -->


    </div>
</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<!-- Date Picker - docs: http://www.vasterad.com/docs/listeo/#!/date_picker -->

<script type="text/javascript" src="/assets/scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jpanelmenu.min.js"></script>
<script type="text/javascript" src="/assets/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/assets/scripts/slick.min.js"></script>
<script type="text/javascript" src="/assets/scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="/assets/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="/assets/scripts/counterup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/assets/scripts/custom.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/axios.min.js"></script>
<link rel="stylesheet" href="/css/sweetalert.css" />
<script src="/js/sweetalert.min.js"></script>
<script type="text/javascript" src="/views/security/js/login.js"></script>
<script src="./js/cuidadores-create/cuidadores-create.js"></script>
<link href="/assets/css/plugins/datedropper.css" rel="stylesheet" type="text/css">
<script src="/assets/scripts/datedropper.js"></script>
<script>$('#booking-date').dateDropper()</script>

</body>
</html>