<!DOCTYPE html>
<head>

	<!-- Basic Page Needs
================================================== -->
	<title>Cuidadores</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/colors/main.css" id="colors">

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">
<div id="appVue">
    <!-- Header Container
================================================== -->
    <header id="header-container">

        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <div id="logo">
                        <a href="/"><img src="/assets/images/logo.png" alt=""></a>
                    </div>

                </div>
                <!-- Left Side Content / End -->


                <!-- Right Side Content / End -->
                <div class="right-side">
                    <my-login></my-login>
                </div>
                <!-- Right Side Content / End -->

            </div>
        </div>
        <!-- Header / End -->

    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->


    <!-- Content
    ================================================== -->
<div class="fs-container" >
    <div id="spinner"></div>
	<div class="fs-inner-container content">
		<div class="fs-content">

			<!-- Search -->
			<section class="search">

				<div class="row">

					<div class="col-md-12">

							<!-- Row With Forms -->
							<div class="row with-forms">

								<!-- Main Search Input -->
								<div class="main-search-input" >


									<div class="main-search-input-item location">
										<input id="location" placeholder="Ciudad"/>

										<a href="#" id="geo-location" v-on:click='geolocate'>
											<i class="fa fa-dot-circle-o"></i></a>
									</div>

									<div class="main-search-input-item">
										<input type="text" id="booking-date-from" placeholder="Fecha Desde" data-lang="es"
											   data-init-set="false"
											   data-large-mode="true" data-large-default="true" data-min-year="2017"
											   data-max-year="2020" data-lock="from">
									</div>
									<div class="main-search-input-item">
										<input type="text" id="booking-date-to" placeholder="Fecha Hasta" data-lang="es"
											   data-init-set="false"
											   data-large-mode="true" data-large-default="true" data-min-year="2017"
											   data-max-year="2020" data-lock="from">

									</div>

									<!--<button class="button" onclick="window.location.href='listings-half-screen-map.html'">-->
									<!--Buscar-->
									<!--</button>-->
									<button class="button" v-on:click='buscar'>
										Buscar
									</button>

								</div>
								<!-- Filters
								<div class="col-fs-12">

									<!-- Panel Dropdown / End
									<div class="panel-dropdown">
										<a href="#">Categories</a>
										<div class="panel-dropdown-content checkboxes categories">

											<!-- Checkboxes
											<div class="row">
												<div class="col-md-6">
													<input id="check-1" type="checkbox" name="check" checked class="all">
													<label for="check-1">All Categories</label>

													<input id="check-2" type="checkbox" name="check">
													<label for="check-2">Shops</label>

													<input id="check-3" type="checkbox" name="check">
													<label for="check-3">Hotels</label>
												</div>

												<div class="col-md-6">
													<input id="check-4" type="checkbox" name="check" >
													<label for="check-4">Eat & Drink</label>

													<input id="check-5" type="checkbox" name="check">
													<label for="check-5">Fitness</label>

													<input id="check-6" type="checkbox" name="check">
													<label for="check-6">Events</label>
												</div>
											</div>

											<!-- Buttons
											<div class="panel-buttons">
												<button class="panel-cancel">Cancel</button>
												<button class="panel-apply">Apply</button>
											</div>

										</div>
									</div>
									<!-- Panel Dropdown / End

									<!-- Panel Dropdown
									<div class="panel-dropdown wide">
										<a href="#">More Filters</a>
										<div class="panel-dropdown-content checkboxes">

											<!-- Checkboxes
											<div class="row">
												<div class="col-md-6">
													<input id="check-a" type="checkbox" name="check">
													<label for="check-a">Elevator in building</label>

													<input id="check-b" type="checkbox" name="check">
													<label for="check-b">Friendly workspace</label>

													<input id="check-c" type="checkbox" name="check">
													<label for="check-c">Instant Book</label>

													<input id="check-d" type="checkbox" name="check">
													<label for="check-d">Wireless Internet</label>
												</div>

												<div class="col-md-6">
													<input id="check-e" type="checkbox" name="check" >
													<label for="check-e">Free parking on premises</label>

													<input id="check-f" type="checkbox" name="check" >
													<label for="check-f">Free parking on street</label>

													<input id="check-g" type="checkbox" name="check">
													<label for="check-g">Smoking allowed</label>

													<input id="check-h" type="checkbox" name="check">
													<label for="check-h">Events</label>
												</div>
											</div>

											<!-- Buttons
											<div class="panel-buttons">
												<button class="panel-cancel">Cancel</button>
												<button class="panel-apply">Apply</button>
											</div>

										</div>
									</div>
									<!-- Panel Dropdown / End

									<!-- Panel Dropdown
									<div class="panel-dropdown">
										<a href="#">Distance Radius</a>
										<div class="panel-dropdown-content">
											<input class="distance-radius" type="range" min="1" max="100" step="1" value="50" data-title="Radius around selected destination">
											<div class="panel-buttons">
												<button class="panel-cancel">Disable</button>
												<button class="panel-apply">Apply</button>
											</div>
										</div>
									</div>
									<!-- Panel Dropdown / End

								</div>
								<!-- Filters / End

							</div>
							<!-- Row With Forms / End -->
							</div>
					</div>
				</div>

			</section>
			<!-- Search / End -->


		<section class="listings-container margin-top-30">
			<!-- Sorting / Layout Switcher -->
			<div class="row fs-switcher">

				<div class="col-md-6">
					<!-- Showing Results -->
					<p class="showing-results">{{ encontrados }}</p>
				</div>

			</div>


			<!-- Listings -->
			<div class="row fs-listings">
				
				<!-- Listing Item -->
				<div v-for="(item,n) in items" :id="item.id" class="col-lg-6 col-md-12">


					<a :href="'/views/cuidadores/cuidadores-perfil.html?id='+item.id" class="listing-item-container" :data-marker-id=n+1>
						<div class="listing-item">

                            <img  :src="item.listaImagenes[0].url"  alt="">

							<div class="listing-badge now-open">Destacado</div>
							
							<div class="listing-item-content">
								<span class="tag">Cuidador</span>
								<h3>{{item.user.fullName}}</h3>
								<span>{{item.user.direccion.calle}}</span>
							</div>
							<span class="like-icon"></span>
						</div>
						<div class="star-rating" data-rating="1">
							<div class="rating-counter">(120 reviews)</div>
						</div>
					</a>

				</div>
				<!-- Listing Item / End -->


			</div>
			<!-- Listings Container / End -->


			<!-- Pagination Container -->
			<div class="row fs-listings">
				<div class="col-md-12">

					<!-- Pagination -->
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12">
							<!-- Pagination -->
							<div class="pagination-container margin-top-15 margin-bottom-40">
								<nav class="pagination">
									<ul>
										<li><a href="#" class="current-page">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<!-- Pagination / End -->
					
					<!-- Copyrights -->
					<div class="copyrights margin-top-0">© 2017 Listeo. All Rights Reserved.</div>

				</div>
			</div>
			<!-- Pagination Container / End -->
		</section>

		</div>
	</div>
	<div class="fs-inner-container map-fixed">

		<!-- Map -->
		<div id="map-container">
		    <div id="map" data-map-zoom="9" data-map-scroll="true">
		        <!-- map goes here -->
		    </div>
		</div>

	</div>
</div>


</div>
</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script type="text/javascript" src="/assets/scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jpanelmenu.min.js"></script>
<script type="text/javascript" src="/assets/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/assets/scripts/slick.min.js"></script>
<script type="text/javascript" src="/assets/scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="/assets/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="/assets/scripts/counterup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/assets/scripts/custom.js"></script>
<!-- My Scripts
================================================== -->
<!-- Date Picker - docs: http://www.vasterad.com/docs/listeo/#!/date_picker -->
<link href="/assets/css/plugins/datedropper.css" rel="stylesheet" type="text/css">
<script src="/assets/scripts/datedropper.js"></script>
<style>


	#spinner {
		/*http://samherbert.net/svg-loaders/*/
		background-image: url('/img/spinner.svg');
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 999;
		background-position: center;
	}




</style>
<script src="/js/axios.min.js"></script>
<script src="/js/vue.js"></script>
<link rel="stylesheet" href="/css/sweetalert.css"></link>
<script src="/js/sweetalert.min.js"></script>

<!-- Maps -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxRjrAgwzUG6g4thS0f1osXdML4Npc3cQ&libraries=places"></script>
<script type="text/javascript" src="/views/security/js/login.js"></script>
<script type="text/javascript" src="/views/cuidadores/js/cuidadores.js"></script>



</body>
</html>