<!DOCTYPE html>
<head>

    <!-- Basic Page Needs
================================================== -->
    <title>Cuidadores</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
================================================== -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/colors/main.css" id="colors">
    <script src="/js/pace.min.js"></script>
    <link href="/css/pace-theme.css" rel="stylesheet"/>

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">
    <!-- Header Container
    ================================================== -->
    <my-navbar></my-navbar>

    <!-- Header Container / End -->


    <!-- Content
    ================================================== -->
    <div class="fs-container">

        <div class="fs-inner-container content">
            <div class="fs-content">

                <!-- Search -->
                <section style="padding-left: 45px; padding-right: 45px;">

                    <div class="row">

                        <div class="col-md-12">

                            <!-- Main Search Input -->
                            <my-buscar-cuidadores :is-index="isIndex"></my-buscar-cuidadores>
                        </div>
                    </div>

                </section>
                <!-- Search / End -->


                <section class="listings-container margin-top-30">
                    <!-- Sorting / Layout Switcher -->
                    <div class="row fs-switcher">

                        <div class="col-md-6">
                            <!-- Showing Results -->
                            <p class="showing-results">{{ encontrados }}</p>
                        </div>

                    </div>


                    <!-- Listings -->
                    <div class="row fs-listings">

                        <!-- Listing Item -->
                        <div v-for="(item,n) in items" :id="item.id" class="col-lg-6 col-md-12">


                            <a :href="'/views/cuidadores/cuidadores-perfil.html?id='+item.id"
                               class="listing-item-container" :data-marker-id=n+1>
                                <div class="listing-item">

                                    <img :src="item.listaImagenes[0].url" alt="">

                                    <div class="listing-badge now-open">Destacado</div>

                                    <div class="listing-item-content">
                                        <span class="tag">${{item.precioPorNoche}} por Noche</span>
                                        <h3>{{item.user.fullName}}</h3>
                                        <span>{{item.user.direccion.calle}}</span>
                                    </div>
                                    <span class="like-icon"></span>
                                </div>
                                <div class="star-rating" data-rating="1">
                                    <div class="rating-counter">(120 reviews)</div>
                                </div>
                            </a>

                        </div>
                        <!-- Listing Item / End -->


                    </div>
                    <!-- Listings Container / End -->


                    <!-- Pagination Container -->
                    <div class="row fs-listings">
                        <div class="col-md-12">

                            <!-- Pagination -->
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Pagination -->
                                    <div class="pagination-container margin-top-15 margin-bottom-40">
                                        <nav class="pagination">
                                            <ul>
                                                <li><a href="#" class="current-page">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Pagination / End -->

                            <!-- Copyrights -->
                            <div class="copyrights margin-top-0">© 2017 Listeo. All Rights Reserved.</div>

                        </div>
                    </div>
                    <!-- Pagination Container / End -->
                </section>

            </div>
        </div>
        <div class="fs-inner-container map-fixed">

            <!-- Map -->
            <div id="map-container">
                <div id="map" data-map-zoom="9" data-map-scroll="true">
                    <!-- map goes here -->
                </div>
            </div>

        </div>
    </div>

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script type="text/javascript" src="/assets/scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jpanelmenu.min.js"></script>
<script type="text/javascript" src="/assets/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/assets/scripts/slick.min.js"></script>
<script type="text/javascript" src="/assets/scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="/assets/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="/assets/scripts/counterup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/assets/scripts/custom.js"></script>
<!-- My Scripts
================================================== -->
<!-- Date Picker - docs: http://www.vasterad.com/docs/listeo/#!/date_picker -->
<link href="/assets/css/plugins/datedropper.css" rel="stylesheet" type="text/css">
<script src="/assets/scripts/datedropper.js"></script>

<script src="/js/axios.min.js"></script>
<script src="/js/axios.interceptor.js"></script>
<script src="/js/vue.js"></script>
<link rel="stylesheet" href="/css/sweetalert.css"></link>
<script src="/js/sweetalert.min.js"></script>

<!-- Maps -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxRjrAgwzUG6g4thS0f1osXdML4Npc3cQ&libraries=places"></script>
<script type="text/javascript" src="/views/security/js/vue-login.js"></script>

<link rel="stylesheet" href="/views/layout/vue-navbar.css">
<script type="text/javascript" src="/views/layout/vue-navbar.js"></script>

<script type="text/javascript" src="/views/buscar/vue-google-autocomplete.js"></script>
<script type="text/javascript" src="/views/buscar/vue-buscar-cuidador.js"></script>
<script type="text/javascript" src="/views/cuidadores/js/cuidadores.js"></script>


</body>
</html>