/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    background-image: url('/img/spinner.svg');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3000;
    background-position: center;
}

.pace-inactive {
    display: none;
}
