<!DOCTYPE html>
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Mi Perfil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/colors/main.css" id="colors">

    <!-- MY CSS
    ================================================== -->
    <link rel="stylesheet" href="/views/layout/vue-navbar.css">
    <!--<script src="/js/pace.min.js"></script>-->
    <link href="/css/page-loader.css" rel="stylesheet"/>


</head>

<body>

<!-- Wrapper -->
<div id="wrapper">
    <div id="page-loader"></div>
    <my-dashboard current-view="my-vacuna" ref="myVacuna"></my-dashboard>
</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script type="text/javascript" src="/assets/scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jpanelmenu.min.js"></script>
<script type="text/javascript" src="/assets/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/assets/scripts/slick.min.js"></script>
<script type="text/javascript" src="/assets/scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="/assets/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="/assets/scripts/counterup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/assets/scripts/custom.js"></script>

<link href="/assets/css/plugins/datedropper.css" rel="stylesheet" type="text/css">
<script src="/assets/scripts/datedropper.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/axios.interceptor.js"></script>

<!--<script src="/js/axios.interceptor.js"></script>-->
<link rel="stylesheet" href="/css/sweetalert.css"/>
<script src="/js/sweetalert.min.js"></script>
<script type="text/javascript" src="/views/security/js/vue-login.js"></script>
<script type="text/javascript" src="/views/dashboard/js/vue-header.js"></script>
<script type="text/javascript" src="/views/dashboard/js/vue-sidebar.js"></script>
<!--own-->
<script src="js/vacuna.js"></script>
<script src="/js/fecha.min.js"></script>


<!--INIT-->
<script type="text/javascript" src="/views/dashboard/js/vue-dashboard-template.js"></script>

<script>
    let vm = new Vue({
        el: '#wrapper'
    });
</script>


</body>
</html>