<!DOCTYPE html>
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>pupi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>


    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/colors/main.css" id="colors">

    <!-- MY CSS
    ================================================== -->
    <link href="/css/page-loader.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/views/layout/vue-navbar.css">
    <link rel="stylesheet" href="/css/sweetalert.css"/>
    <link href="/assets/css/plugins/datedropper.css" rel="stylesheet" type="text/css">



</head>

<body>
<div id="wrapper">
    <my-app current-view="" ref=""></my-app>
    <div class="clearfix"></div>
    <!-- Header Container / End -->


    <!-- Banner /file_upload/8ac40210-e64c-40bb-90c5-9e5ad627c1fe.jpg
================================================== -->
    <div class="main-search-container dark-overlay" style="height: 540px;"
         data-background-image="/img/bebeAndPerro.jpg">
        <div class="main-search-inner">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="headline centered margin-top-80"> Acerca de pupi </h2>
                        <h3 class="headline centered margin-top-80" style=" color: white;">Fundada en 2017 en Córdoba,
                            Argentina, pupi se orienta como la comunidad más grande de cuidadores del país </h3>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Info Section -->
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="headline centered margin-top-80">
                    Pupi conecta a los padres de mascotas con cuidadores que tratarán a sus mascotas como si fueran de
                    su familia.

                    <span class="margin-top-25">  No se trata sólo de amor perruno. Pupi es también un  negocio de tecnología comprometido y seguro para mascotas, fácil y accesible para que todos puedan experimentar el amor incondicional de un perro.
				 </span>

                    <span class="margin-top-25">  En cualquier momento en cualquier sitio. </span>
                </h2>
            </div>
        </div>
    </div>


    <!-- Fullwidth Section -->
    <section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3 class="headline centered margin-bottom-45">
                        Fundadores
                        <span></span>
                    </h3>
                </div>

                <div class="col-md-12">
                    <div class="simple-slick-carousel dots-nav">

                        <!-- Listing Item -->
                        <div class="carousel-item">

                            <div class="avatar2"><img src="/img/Fede.jpeg" alt=""/>
                            </div>
                            <span class="tag"><h3 style="padding-left: 35px">Federico Backhaus</h3></span>

                        </div>

                        <div class="carousel-item">

                            <div class="avatar2"><img src="/img/Jose.jpeg" alt=""/>
                            </div>
                            <span class="tag"><h3 style="padding-left: 35px">Jose Boretto</h3></span>
                        </div>
                        <div class="carousel-item">

                            <div class="avatar2"><img src="/img/Efra.jpeg" alt=""/>
                            </div>
                            <span class="tag"><h3 style="padding-left: 35px">Efrain Diaz</h3></span>
                        </div>

                        <div class="carousel-item">

                            <div class="avatar2"><img src="/img/Jorge.jpeg" alt=""/>
                            </div>
                            <span class="tag"><h3 style="padding-left: 35px">Jorge Constable</h3></span>
                        </div>

                        <div class="carousel-item">

                            <div class="avatar2"><img src="../../img/Gabi.jpg" alt=""
                                                      style="  height: 300px;  width: 300px; "/>
                            </div>
                            <span class="tag"><h3 style="padding-left: 35px">Gabriel Lorenzatti</h3></span>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>
</div>


<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script type="text/javascript" src="/assets/scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jpanelmenu.min.js"></script>
<script type="text/javascript" src="/assets/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/assets/scripts/slick.min.js"></script>
<script type="text/javascript" src="/assets/scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="/assets/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="/assets/scripts/counterup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/assets/scripts/custom.js"></script>

<!-- My Scripts
================================================== -->
<!-- Date Picker - docs: http://www.vasterad.com/docs/listeo/#!/date_picker -->
<script src="/assets/scripts/datedropper.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/axios.interceptor.js"></script>
<script src="/js/sweetalert.min.js"></script>

<script type="text/javascript" src="/views/buscar/vue-google-autocomplete.js"></script>
<script type="text/javascript" src="/views/buscar/vue-buscar-cuidador.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxRjrAgwzUG6g4thS0f1osXdML4Npc3cQ&libraries=places"></script>

<script type="text/javascript" src="/views/security/js/vue-login.js"></script>
<script type="text/javascript" src="/views/layout/vue-navbar.js"></script>

<script type="text/javascript" src="/views/index/js/vue-app-template.js"></script>


<!-- NEW DATE PICKER -->
<link href="/css/hotel-datepicker.css" rel="stylesheet">
<script src="/js/fecha.min.js"></script>
<script src="/js/hotel-datepicker.min.js"></script>
<script src="/views/buscar/vue-hotel-datepicker.js"></script>


<script>
    let vm = new Vue({
        el: '#wrapper',
    });
</script>


</body>
</html>