<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/colors/main.css" id="colors">

</head>
<body>
<div id="appVue">

    <!-- Header Container
    ================================================== -->
    <header id="header-container" class="fixed fullwidth dashboard">

        <!-- Header -->
        <div id="header" class="not-sticky">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <div id="logo">
                        <a href="index.html"><img src="/assets/images/logo.png" alt=""></a>
                        <a href="index.html" class="dashboard-logo"><img src="/assets/images/logo2.png" alt=""></a>
                    </div>

                    <!-- Mobile Navigation -->
                    <div class="menu-responsive">
                        <i class="fa fa-reorder menu-trigger"></i>
                    </div>

                    <!-- Main Navigation -->
                    <div class="clearfix"></div>
                    <!-- Main Navigation / End -->

                </div>
                <!-- Left Side Content / End -->

                <!-- Right Side Content / End -->
                <div class="right-side">
                    <my-login></my-login>
                </div>
                <!-- Right Side Content / End -->

            </div>
        </div>
        <!-- Header / End -->

    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->


    <!-- Wrapper -->
    <div id="wrapper">
    </div>

</div>

</div>
<!-- Scripts
================================================== -->
<script type="text/javascript" src="/assets/scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jpanelmenu.min.js"></script>
<script type="text/javascript" src="/assets/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/assets/scripts/slick.min.js"></script>
<script type="text/javascript" src="/assets/scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="/assets/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="/assets/scripts/counterup.min.js"></script>
<script type="text/javascript" src="/assets/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/assets/scripts/custom.js"></script>


<!-- My Scripts
================================================== -->
<script src="/js/axios.min.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/sweetalert.min.js"></script>
<script src="js/login.js"></script>


</body>
</html>