@media (min-width: 1023px) {
    .inp {
        width: 25% !important;
    }
}
@media (max-width: 1023px) {
    .inp {
        width: 38% !important;
    }
}
.marker-item {
    width: 200px !important;
}
.marker-item img {
    object-fit: cover;
    height: 20px;
    width: 20px;
    border-radius: 4px 4px 0 0;
}